body {
  margin: 0;
}
main {
  display: flex;
}

h1 {
  padding: 0 30px;
  line-height: 80px;
  height: 80px;
  text-align: center;
  margin: 0;
}
@media (max-width: 500px) {
  h1 {
    font-size: 18px;
  }
}

aside {
  padding: 0 30px;
  width: 100px;
  min-height: calc(100vh - 130px);
}

aside a {
  display: block;
  line-height: 30px;
  color: lightskyblue;
}
aside a.active {
  pointer-events: none;
  color: rgb(99, 98, 98);
  text-decoration: none;
}

section {
  flex: auto;
}

footer {
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: whitesmoke;
  color: #AAA;
}

.welcome {
  line-height: 60px;
  font-size: 1.4em;
}
